$color1: #97fae3;
$color2: #d9b65e;
$color3: #52355e;
@font-face {
  font-family: "modern";
  src: url(/style/PlaywriteUSModern-VariableFont_wght.ttf);
}
body,
html {
  font-family: "modern";
  margin: 0px;
  padding: 0;
  background-image: url("/img/elegant_hand_painted_alcohol_ink_background_with_gold_glitter_0609.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 40px;
    color: #52355e;
  }
  p {
    line-height: 2.5;
  }
}
.headercontainer {
  text-align: center;
  margin: 0;
  padding: 0;
  .imgaccueil {
    height: 300px;
    margin: 30px 0px 10px 0px;
  }
}
.bandeaunav {
  margin: 0px;
  padding: 0;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid $color2;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  list-style: none;
  margin: 0;
  position: relative;
  z-index: 10;
}

.navigation li {
  margin: 0 50px;
}

.navigation .lien {
  font-family: "modern";
  font-weight: bold;
  font-size: 18px;
  color: #52355e;
  text-decoration: none;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease-in-out;
}

.navigation .lien:hover,
.navigation .lien.active {
  color: #d9b65e;
}

.navigation .lien::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #d9b65e;
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
}

.navigation .lien:hover::after,
.navigation .lien.active::after {
  width: 100%;
}

/////////////////////////////////////////////////////////////////////////
.part1 {
  text-align: center;
  margin: 0;
  p {
    margin: 0px 200px 30px 200px;
  }
  .imgsalon {
    text-align: center;
    border-radius: 10px;
    max-width: 800px;
    max-height: 400px;
  }
}
.logocentre {
  .logoakyado {
    text-align: center;
    width: 150px;
  }
}

.part2 {
  padding: 50px 0px 50px 0px;
  background-color: white;
  text-align: center;
  margin: 0;
  margin-top: 100px;

  .blocongle {
    display: flex;
    justify-content: center;
    margin: 20px 200px 30px 200px;
  }
}
.part3 {
  text-align: center;
  margin: 0;
  margin-top: 100px;
  .blocprothesiste {
    display: flex;
    margin: 20px 200px 30px 200px;
  }
  .imgprothesiste {
    width: 600px;
    max-height: 300px;
  }
  p {
    padding-left: 50px;
  }
}
.textfinal {
  text-align: center;
  justify-content: center;
  padding-top: 50px;
}
////////////////////////        Footer   ////////////////////////////////////////
.droits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footercontainer {
  margin-top: 100px;
  min-height: 300px;
  background-color: white;
  border-top: solid 4px $color2;
  p {
    color: $color3;
    text-align: center;
  }

  .bloccontainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin: 10px 100px 20px 100px;
    p {
      color: $color3;
    }
  }
  h3 {
    color: $color3;
  }
  .adresse {
    justify-content: center;
    text-align: center;
    img {
      max-width: 50px;
    }

    h3 {
      text-decoration: underline;
    }
  }
  .logo {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;

    img {
      max-width: 80px;
      margin: 20px;
    }
  }
  .contact {
    h3 {
      text-decoration: underline;
    }
    img {
      max-width: 30px;
    }
    p {
      font-weight: 1000;
    }
  }
}

////////////////////////  Page Tarifs /////////////////////////////////////
.pagetarif {
  text-align: center;
  .textfinal {
    margin-top: 50px;
  }
}
.cadre {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.tarif-container {
  max-width: 700px;
  padding: 20px;
  background-color: #fff;
  border: 8px solid #d9b65e; /* Couleur du cadre */
  border-radius: 15px; /* Arrondi des coins du cadre */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Ombre portée */
  position: relative;
  overflow: hidden;
}
h1 {
  text-align: center;
  font-family: "Times New Roman", serif;
  font-size: 24px;
  margin-bottom: 20px;
}
ul {
  li {
    list-style-type: none;
  }
}
p {
  font-size: 18px;
  line-height: 1.6;
  margin: 5px 0;
}
.highlight {
  font-weight: bold;
  text-decoration: underline;
}
.offer {
  margin-top: 20px;
  font-style: italic;
}

/////////////////////// Page photos /////////////////////////
.containerstyle {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  h1 {
    text-align: center;
    font-size: 36px;
    color: #d9b65e;
    margin-bottom: 50px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  .grid-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
  }
  .grid-item:hover {
    transform: translateY(-5px);
  }
  .grid-item img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Remplit le conteneur tout en conservant le ratio de l'image */
  }
  .description {
    padding: 15px;
    text-align: center;
  }
  .description h2 {
    font-size: 24px;
    color: #d9b65e;
    margin: 0 0 10px;
  }
  .description p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
}

.containerGall {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  h1 {
    text-align: center;
    font-size: 36px;
    color: #d9b65e;
    margin-bottom: 50px;
  }
  .grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    border-radius: 0 0 10px 10px;
  }
  .gallery-item:hover .overlay {
    height: 40%;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .textfinal {
    display: none;
  }
}
////////////responsive //////////////////////////

@media screen and (max-width: 840px) {
  .part1 .imgsalon {
    width: 80%;
    margin-top: 30px;
    margin: 20px;
  }
  .part2 .blocongle {
    flex-direction: column;
    margin: 20px;
  }
  .part3 .blocprothesiste {
    flex-direction: column;
    margin: 20px;
    align-items: center;
  }
  .imgprothesiste {
    max-width: 70%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .part3 .blocprothesiste p {
    padding-left: 0;
  }
  .textfinal {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .footercontainer .bloccontainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
    .logo {
      margin: 0;
      h2 {
        display: none;
      }
    }
  }
  .part1 p,
  .part2 .blocongle,
  .part3 p {
    margin: 0px 50px 30px 50px;
  }
}
@media screen and (max-width: 1300px) {
  .part3 .blocprothesiste {
    flex-direction: column;
    margin: 20px;
    align-items: center;
  }

  .part3 .blocprothesiste .imgprothesiste {
    max-width: 300px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .pagetarif .textfinal {
    display: block;
  }
  .containerGall .textfinal {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
  }
  .navigation li {
    margin: 10px 0;
  }
  .headercontainer .imgaccueil {
    height: 200px;
    margin: 20px 0px 10px 0px;
  }
  .bloccontainer {
    display: flex;
    flex-direction: row;
  }
  .textfinal {
    margin-top: 100px;
  }
}

@media screen and (max-width: 505px) {
  .navigation li {
    margin: 5px 0;
  }

  .navigation .lien {
    font-size: 16px;
  }

  .part1 p,
  .part2 .blocongle p,
  .part3 .blocprothesiste p {
    margin: 0 10px;
  }

  .part2,
  .part3 {
    margin-top: 50px;
  }
  .pagetarif {
    .cadre {
      margin-bottom: 50px;
    }
  }
  .footercontainer .bloccontainer {
    margin: 0;
    .logo {
      margin: 0;
    }
  }
}
/// bloc avis ///
/* Conteneur principal */
.container-avis {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
#avis-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Carte d'avis */
.review {
  background-color: #ffffff9d;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 300px; /* Taille fixe pour chaque carte */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
}

.review:hover {
  transform: scale(1.05); /* Effet de zoom au survol */
}
.review-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px; /* Espacement entre étoiles et date */
  font-size: 0.9em;
  color: #666;
  margin-top: auto;
}

.rating {
  font-size: 1.2em;
  color: #ff9800;
  font-weight: bold;
}

.review-date {
  color: #555;
  font-size: 0.9em;
  font-weight: normal;
}

.review img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  transform: translateY(30%);
}
.review-title {
  display: flex;
}
/* Nom de l'auteur */
.review h3 {
  font-size: 1.2em;
  color: #d16ba5; /* Rose élégant */
  margin-bottom: 5px;
}

/* Texte de l'avis */
.review p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Note avec étoiles */
.rating {
  font-size: 1em;
  color: #ff9800;
  font-weight: bold;
}

/* Ajout d'une petite animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.review {
  animation: fadeIn 0.5s ease-in-out;
}
